@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #000;
  }

  body {
    margin: 0 auto;
    max-height: 100vh;
    max-width: 1920px;
  }
}

@layer components {
  .defaultButton {
    @apply uppercase bg-rocketseat-mid hover:bg-rocketseat-dark hover:border-rocketseat-dark text-white p-3 rounded font-bold outline-none border border-rocketseat-mid focus:border-rocketseat-dark shadow-lg transition-colors duration-300
  }
}
